/* =========================================
   ANIMATION.CSS
   Scroll Reveal Animation
========================================= */


/* ---------- Initial State ---------- */

section {
    opacity: 0;
    transform: translateY(20px);

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;
}


/* ---------- Visible State ---------- */

section.show {
    opacity: 1;
    transform: translateY(0);
}

